
@model IEnumerable<Wereldeel>
@{
    ViewData["Title"] = "Index";
}

<h1>Werelddelen</h1>
<ul>
    @foreach(var werelddeel in Model)
    {
        <li><a asp-controller="Land" asp-action="WerelddeelLanden" asp-route-id=@werelddeel.Id>@werelddeel.Naam</a></li>
    }
</ul>

